.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-in-slider {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.slider h1 {
  position: absolute;
  bottom: 60px;
  right: 40px;
  color: white;
  font-size: clamp(0.75rem, 0.339rem + 2.054vw, 2.188rem);
}